asgiref==3.3.1
bcrypt==3.2.0
cffi==1.14.5
cryptography==3.4.6
Django==3.1.7
django-rest-knox==4.1.0
djangorestframework==3.12.2
pycparser==2.20
pytz==2021.1
six==1.15.0
sqlparse==0.4.1
style==1.1.0
tzlocal==2.1
update==0.0.1
